/* line 2, ../../sass/utilities/layouts.scss */
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 3, ../../sass/pages/index.scss */
.cards {
  padding: 50px;
}
/* line 7, ../../sass/pages/index.scss */
.cards .cardWrapper {
  position: relative;
  flex: 1;
  max-width: 2em;
  margin: 0 10px;
  font-size: 140px;
  overflow: hidden;
}
/* line 17, ../../sass/pages/index.scss */
.cards .cardWrapper .cardBordersContainer .border-right, .cards .cardWrapper .cardBordersContainer .border-right:before, .cards .cardWrapper .cardBordersContainer .border-right:after, .cards .cardWrapper .cardBordersContainer .border-left, .cards .cardWrapper .cardBordersContainer .border-left:before, .cards .cardWrapper .cardBordersContainer .border-left:after {
  width: 1px;
  height: 100%;
}
/* line 21, ../../sass/pages/index.scss */
.cards .cardWrapper .cardBordersContainer .border-top, .cards .cardWrapper .cardBordersContainer .border-top:before, .cards .cardWrapper .cardBordersContainer .border-top:after, .cards .cardWrapper .cardBordersContainer .border-bottom, .cards .cardWrapper .cardBordersContainer .border-bottom:before, .cards .cardWrapper .cardBordersContainer .border-bottom:after {
  width: 100%;
  height: 1px;
}
/* line 29, ../../sass/pages/index.scss */
.cards .cardWrapper .cardBordersContainer .border-top,
.cards .cardWrapper .cardBordersContainer .border-bottom,
.cards .cardWrapper .cardBordersContainer .border-right,
.cards .cardWrapper .cardBordersContainer .border-left {
  position: absolute;
  transition: all .6s ease-out;
}
/* line 33, ../../sass/pages/index.scss */
.cards .cardWrapper .cardBordersContainer .border-top:before, .cards .cardWrapper .cardBordersContainer .border-top:after,
.cards .cardWrapper .cardBordersContainer .border-bottom:before,
.cards .cardWrapper .cardBordersContainer .border-bottom:after,
.cards .cardWrapper .cardBordersContainer .border-right:before,
.cards .cardWrapper .cardBordersContainer .border-right:after,
.cards .cardWrapper .cardBordersContainer .border-left:before,
.cards .cardWrapper .cardBordersContainer .border-left:after {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  background: white;
  transition: all .6s ease-out;
}
/* line 43, ../../sass/pages/index.scss */
.cards .cardWrapper .cardBordersContainer .border-top {
  top: 0;
  left: 0%;
}
/* line 51, ../../sass/pages/index.scss */
.cards .cardWrapper .cardBordersContainer .border-top:after {
  left: 200%;
}
/* line 55, ../../sass/pages/index.scss */
.cards .cardWrapper .cardBordersContainer .border-bottom {
  bottom: 0;
  left: 0%;
}
/* line 63, ../../sass/pages/index.scss */
.cards .cardWrapper .cardBordersContainer .border-bottom:after {
  left: -200%;
}
/* line 67, ../../sass/pages/index.scss */
.cards .cardWrapper .cardBordersContainer .border-right {
  top: 0;
  right: 0;
}
/* line 75, ../../sass/pages/index.scss */
.cards .cardWrapper .cardBordersContainer .border-right:after {
  top: 200%;
}
/* line 79, ../../sass/pages/index.scss */
.cards .cardWrapper .cardBordersContainer .border-left {
  top: 0;
  left: 0;
}
/* line 87, ../../sass/pages/index.scss */
.cards .cardWrapper .cardBordersContainer .border-left:after {
  top: -200%;
}
/* line 94, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-1:hover .cardContent {
  background: transparent;
  transition-delay: 0s;
}
/* line 98, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-1:hover .cardContent-title {
  color: white;
  transition-delay: 0s !important;
}
/* line 102, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-1:hover .border-top {
  transform: translateX(-200%);
}
/* line 105, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-1:hover .border-bottom {
  transform: translateX(200%);
}
/* line 108, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-1:hover .border-right {
  transform: translateY(-200%);
}
/* line 111, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-1:hover .border-left {
  transform: translateY(200%);
}
/* line 117, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-1:hover .border-top,
.cards .cardWrapper.cardBorder-effect-1:hover .border-bottom,
.cards .cardWrapper.cardBorder-effect-1:hover .border-right,
.cards .cardWrapper.cardBorder-effect-1:hover .border-left {
  transition-delay: .3s !important;
}
/* line 123, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-2:hover .cardContent-title, .cards .cardWrapper.cardBorder-effect-2:hover .border-top, .cards .cardWrapper.cardBorder-effect-2:hover .border-bottom, .cards .cardWrapper.cardBorder-effect-2:hover .border-right, .cards .cardWrapper.cardBorder-effect-2:hover .border-left {
  color: #f0ce13;
}
/* line 125, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-2:hover .cardContent-title:before, .cards .cardWrapper.cardBorder-effect-2:hover .border-top:before, .cards .cardWrapper.cardBorder-effect-2:hover .border-bottom:before, .cards .cardWrapper.cardBorder-effect-2:hover .border-right:before, .cards .cardWrapper.cardBorder-effect-2:hover .border-left:before, .cards .cardWrapper.cardBorder-effect-2:hover .cardContent-title:after, .cards .cardWrapper.cardBorder-effect-2:hover .border-top:after, .cards .cardWrapper.cardBorder-effect-2:hover .border-bottom:after, .cards .cardWrapper.cardBorder-effect-2:hover .border-right:after, .cards .cardWrapper.cardBorder-effect-2:hover .border-left:after {
  background: #f0ce13;
}
/* line 130, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-2:hover .cardContent {
  background: transparent;
  transition-delay: 0s;
}
/* line 134, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-2:hover .cardContent-title {
  transition-delay: 0s !important;
}
/* line 138, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-2:hover .border-top {
  transform: translateX(-200%);
}
/* line 142, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-2:hover .border-bottom {
  transform: translateX(200%);
}
/* line 146, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-2:hover .border-right {
  transform: translateY(-200%);
}
/* line 150, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-2:hover .border-left {
  transform: translateY(200%);
}
/* line 157, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-2:hover .border-top,
.cards .cardWrapper.cardBorder-effect-2:hover .border-bottom,
.cards .cardWrapper.cardBorder-effect-2:hover .border-right,
.cards .cardWrapper.cardBorder-effect-2:hover .border-left {
  transition-delay: .3s !important;
}
/* line 159, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-2:hover .border-top:before, .cards .cardWrapper.cardBorder-effect-2:hover .border-top:after,
.cards .cardWrapper.cardBorder-effect-2:hover .border-bottom:before,
.cards .cardWrapper.cardBorder-effect-2:hover .border-bottom:after,
.cards .cardWrapper.cardBorder-effect-2:hover .border-right:before,
.cards .cardWrapper.cardBorder-effect-2:hover .border-right:after,
.cards .cardWrapper.cardBorder-effect-2:hover .border-left:before,
.cards .cardWrapper.cardBorder-effect-2:hover .border-left:after {
  transition-delay: 0.3s !important;
}
/* line 167, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-3:hover .border-right:before, .cards .cardWrapper.cardBorder-effect-3:hover .border-left:before, .cards .cardWrapper.cardBorder-effect-3:hover .cardWrapper.cardBorder-effect-4:hover .border-right:before, .cards .cardWrapper.cardBorder-effect-4:hover .cardWrapper.cardBorder-effect-3:hover .border-right:before, .cards .cardWrapper.cardBorder-effect-3:hover .cardWrapper.cardBorder-effect-4:hover .border-left:before, .cards .cardWrapper.cardBorder-effect-4:hover .cardWrapper.cardBorder-effect-3:hover .border-left:before, .cards .cardWrapper.cardBorder-effect-3:hover .border-right:after, .cards .cardWrapper.cardBorder-effect-3:hover .border-left:after, .cards .cardWrapper.cardBorder-effect-3:hover .cardWrapper.cardBorder-effect-4:hover .border-right:after, .cards .cardWrapper.cardBorder-effect-4:hover .cardWrapper.cardBorder-effect-3:hover .border-right:after, .cards .cardWrapper.cardBorder-effect-3:hover .cardWrapper.cardBorder-effect-4:hover .border-left:after, .cards .cardWrapper.cardBorder-effect-4:hover .cardWrapper.cardBorder-effect-3:hover .border-left:after {
  width: 50px;
}
/* line 172, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-3:hover .border-top:before, .cards .cardWrapper.cardBorder-effect-3:hover .border-bottom:before, .cards .cardWrapper.cardBorder-effect-3:hover .cardWrapper.cardBorder-effect-4:hover .border-top:before, .cards .cardWrapper.cardBorder-effect-4:hover .cardWrapper.cardBorder-effect-3:hover .border-top:before, .cards .cardWrapper.cardBorder-effect-3:hover .cardWrapper.cardBorder-effect-4:hover .border-bottom:before, .cards .cardWrapper.cardBorder-effect-4:hover .cardWrapper.cardBorder-effect-3:hover .border-bottom:before, .cards .cardWrapper.cardBorder-effect-3:hover .border-top:after, .cards .cardWrapper.cardBorder-effect-3:hover .border-bottom:after, .cards .cardWrapper.cardBorder-effect-3:hover .cardWrapper.cardBorder-effect-4:hover .border-top:after, .cards .cardWrapper.cardBorder-effect-4:hover .cardWrapper.cardBorder-effect-3:hover .border-top:after, .cards .cardWrapper.cardBorder-effect-3:hover .cardWrapper.cardBorder-effect-4:hover .border-bottom:after, .cards .cardWrapper.cardBorder-effect-4:hover .cardWrapper.cardBorder-effect-3:hover .border-bottom:after {
  height: 50px;
}
/* line 177, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-3:hover .cardContent {
  background: transparent;
  transition-delay: 0s;
}
/* line 181, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-3:hover .cardContent-title {
  color: white;
  transition-delay: 0s !important;
}
/* line 185, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-3:hover .border-top {
  transform: translateX(-200%);
}
/* line 189, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-3:hover .border-bottom {
  transform: translateX(200%) translateY(-49px);
}
/* line 193, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-3:hover .border-right {
  transform: translateY(-200%) translateX(-49px);
}
/* line 197, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-3:hover .border-left {
  transform: translateY(200%);
}
/* line 204, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-3:hover .border-top,
.cards .cardWrapper.cardBorder-effect-3:hover .border-bottom,
.cards .cardWrapper.cardBorder-effect-3:hover .border-right,
.cards .cardWrapper.cardBorder-effect-3:hover .border-left {
  transition-delay: 0.3s !important;
}
/* line 206, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-3:hover .border-top:before, .cards .cardWrapper.cardBorder-effect-3:hover .border-top:after,
.cards .cardWrapper.cardBorder-effect-3:hover .border-bottom:before,
.cards .cardWrapper.cardBorder-effect-3:hover .border-bottom:after,
.cards .cardWrapper.cardBorder-effect-3:hover .border-right:before,
.cards .cardWrapper.cardBorder-effect-3:hover .border-right:after,
.cards .cardWrapper.cardBorder-effect-3:hover .border-left:before,
.cards .cardWrapper.cardBorder-effect-3:hover .border-left:after {
  transition-delay: 0.3s !important;
}
/* line 216, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-4 .border-top,
.cards .cardWrapper.cardBorder-effect-4 .border-bottom,
.cards .cardWrapper.cardBorder-effect-4 .border-right,
.cards .cardWrapper.cardBorder-effect-4 .border-left {
  transition: all 0.2s ease-out;
}
/* line 218, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-4 .border-top::after, .cards .cardWrapper.cardBorder-effect-4 .border-top::before,
.cards .cardWrapper.cardBorder-effect-4 .border-bottom::after,
.cards .cardWrapper.cardBorder-effect-4 .border-bottom::before,
.cards .cardWrapper.cardBorder-effect-4 .border-right::after,
.cards .cardWrapper.cardBorder-effect-4 .border-right::before,
.cards .cardWrapper.cardBorder-effect-4 .border-left::after,
.cards .cardWrapper.cardBorder-effect-4 .border-left::before {
  transition: all 0.2s ease-out;
}
/* line 224, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-4 .border-top:after {
  left: 160%;
}
/* line 229, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-4 .border-bottom:after {
  left: -160%;
}
/* line 234, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-4 .border-right:after {
  top: 160%;
}
/* line 239, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-4 .border-left:after {
  top: -160%;
}
/* line 246, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-4:hover .cardWrapper.cardBorder-effect-3:hover .border-right:before, .cards .cardWrapper.cardBorder-effect-3:hover .cardWrapper.cardBorder-effect-4:hover .border-right:before, .cards .cardWrapper.cardBorder-effect-4:hover .cardWrapper.cardBorder-effect-3:hover .border-left:before, .cards .cardWrapper.cardBorder-effect-3:hover .cardWrapper.cardBorder-effect-4:hover .border-left:before, .cards .cardWrapper.cardBorder-effect-4:hover .border-right:before, .cards .cardWrapper.cardBorder-effect-4:hover .border-left:before, .cards .cardWrapper.cardBorder-effect-4:hover .cardWrapper.cardBorder-effect-3:hover .border-right:after, .cards .cardWrapper.cardBorder-effect-3:hover .cardWrapper.cardBorder-effect-4:hover .border-right:after, .cards .cardWrapper.cardBorder-effect-4:hover .cardWrapper.cardBorder-effect-3:hover .border-left:after, .cards .cardWrapper.cardBorder-effect-3:hover .cardWrapper.cardBorder-effect-4:hover .border-left:after, .cards .cardWrapper.cardBorder-effect-4:hover .border-right:after, .cards .cardWrapper.cardBorder-effect-4:hover .border-left:after {
  width: 20px;
}
/* line 251, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-4:hover .cardWrapper.cardBorder-effect-3:hover .border-top:before, .cards .cardWrapper.cardBorder-effect-3:hover .cardWrapper.cardBorder-effect-4:hover .border-top:before, .cards .cardWrapper.cardBorder-effect-4:hover .cardWrapper.cardBorder-effect-3:hover .border-bottom:before, .cards .cardWrapper.cardBorder-effect-3:hover .cardWrapper.cardBorder-effect-4:hover .border-bottom:before, .cards .cardWrapper.cardBorder-effect-4:hover .border-top:before, .cards .cardWrapper.cardBorder-effect-4:hover .border-bottom:before, .cards .cardWrapper.cardBorder-effect-4:hover .cardWrapper.cardBorder-effect-3:hover .border-top:after, .cards .cardWrapper.cardBorder-effect-3:hover .cardWrapper.cardBorder-effect-4:hover .border-top:after, .cards .cardWrapper.cardBorder-effect-4:hover .cardWrapper.cardBorder-effect-3:hover .border-bottom:after, .cards .cardWrapper.cardBorder-effect-3:hover .cardWrapper.cardBorder-effect-4:hover .border-bottom:after, .cards .cardWrapper.cardBorder-effect-4:hover .border-top:after, .cards .cardWrapper.cardBorder-effect-4:hover .border-bottom:after {
  height: 20px;
}
/* line 256, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-4:hover .cardContent {
  background: transparent;
  transition-delay: 0s;
}
/* line 260, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-4:hover .cardContent-title {
  color: white;
  transition-delay: 0s !important;
}
/* line 264, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-4:hover .border-top {
  transform: translateX(-80%);
}
/* line 268, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-4:hover .border-bottom {
  transform: translateX(80%);
  bottom: 19px;
}
/* line 273, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-4:hover .border-right {
  transform: translateY(-80%);
  right: 19px;
}
/* line 278, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-4:hover .border-left {
  transform: translateY(80%);
}
/* line 285, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-4:hover .border-top,
.cards .cardWrapper.cardBorder-effect-4:hover .border-bottom,
.cards .cardWrapper.cardBorder-effect-4:hover .border-right,
.cards .cardWrapper.cardBorder-effect-4:hover .border-left {
  transition-delay: 0.3s !important;
}
/* line 287, ../../sass/pages/index.scss */
.cards .cardWrapper.cardBorder-effect-4:hover .border-top:before, .cards .cardWrapper.cardBorder-effect-4:hover .border-top:after,
.cards .cardWrapper.cardBorder-effect-4:hover .border-bottom:before,
.cards .cardWrapper.cardBorder-effect-4:hover .border-bottom:after,
.cards .cardWrapper.cardBorder-effect-4:hover .border-right:before,
.cards .cardWrapper.cardBorder-effect-4:hover .border-right:after,
.cards .cardWrapper.cardBorder-effect-4:hover .border-left:before,
.cards .cardWrapper.cardBorder-effect-4:hover .border-left:after {
  transition-delay: 0.3s !important;
}
/* line 293, ../../sass/pages/index.scss */
.cards .cardWrapper .cardContent {
  margin: 3px;
  height: 2em;
  background: white;
  transition: background .6s .3s;
}
/* line 299, ../../sass/pages/index.scss */
.cards .cardWrapper .cardContent .cardContent-title {
  text-align: center;
  line-height: 2.2em;
  font-family: 'Ruthie', cursive;
  transition: color .6s .3s;
}
